.container {
  width: 420px;
  height: 420px;
  background-color: red;
  display: block;
  margin: 0 auto;
}

.header {
  background-color: hotPink;
}

.cell {
  background-color: lightGrey;
  height: 21px;
  width: 21px;
  float: left;
  font-size: 8px;
}

.snakeHead {
  background-color: red;
}

.snakeBody {
  background-color: hotPink;
}

.snakeTail {
  background-color: pink;
}

.prey {
  background-color: lime;
}
