body {
  width: 100%;
  position: fixed;
  background-color: black;
  color: white;
}

.game {
  width: 700px;
  height: 440px;
  margin: 0 auto;
  margin-top: 10%;
  position: relative;
}

.header {
  background-color: hotPink;
  font-family: monospace;
  font-size: 75px;
  padding-left: 3%;
}

.cell {
  background-color: white;
  height: 20px;
  width: 20px;
  float: left;
  font-size: 8px;
}

.snakeBody1 {
  background-image: url('../images/snakebody.jpg');
}

.snakeBody2 {
  background-image: url('../images/snakebody.jpg');
  transform: rotate(90deg);
}

.snakeBody3 {
  background-image: url('../images/snakecorner.jpg');
  transform: rotate(90deg);
}

.snakeBody4 {
  background-image: url('../images/snakecorner.jpg');
  transform: rotate(180deg);
}

.snakeBody5 {
  background-image: url('../images/snakecorner.jpg');
  transform: rotate(270deg);
}

.snakeBody6 {
  background-image: url('../images/snakecorner.jpg');
}

.snakeTail1 {
  background-image: url('../images/snaketail.jpg');
  transform: rotate(270deg);
}

.snakeTail2 {
  background-image: url('../images/snaketail.jpg');
}

.snakeTail3 {
  background-image: url('../images/snaketail.jpg');
  transform: rotate(90deg);
}

.snakeTail4 {
  background-image: url('../images/snaketail.jpg');
  transform: rotate(180deg);
}

.snakeHead1 {
  background-image: url('../images/snakehead.jpg');
  transform: rotate(270deg);
}

.snakeHead2 {
  background-image: url('../images/snakehead.jpg');
}

.snakeHead3 {
  background-image: url('../images/snakehead.jpg');
  transform: rotate(90deg);
}

.snakeHead4 {
  background-image: url('../images/snakehead.jpg');
  transform: rotate(180deg);
}

.drakeBody1 {
  background-image: url('../images/drakebody.jpg');
}

.drakeBody2 {
  background-image: url('../images/drakebody.jpg');
  transform: rotate(90deg);
}

.drakeBody3 {
  background-image: url('../images/drakecorner.jpg');
  transform: rotate(90deg);
}

.drakeBody4 {
  background-image: url('../images/drakecorner.jpg');
  transform: rotate(180deg);
}

.drakeBody5 {
  background-image: url('../images/drakecorner.jpg');
  transform: rotate(270deg);
}

.drakeBody6 {
  background-image: url('../images/drakecorner.jpg');
}

.drakeTail1 {
  background-image: url('../images/draketail.jpg');
  transform: rotate(270deg);
}

.drakeTail2 {
  background-image: url('../images/draketail.jpg');
}

.drakeTail3 {
  background-image: url('../images/draketail.jpg');
  transform: rotate(90deg);
}

.drakeTail4 {
  background-image: url('../images/draketail.jpg');
  transform: rotate(180deg);
}

.drakeHead1 {
  background-image: url('../images/drakehead.jpg');
  transform: rotate(270deg);
}

.drakeHead2 {
  background-image: url('../images/drakehead.jpg');
}

.drakeHead3 {
  background-image: url('../images/drakehead.jpg');
  transform: rotate(90deg);
}

.drakeHead4 {
  background-image: url('../images/drakehead.jpg');
  transform: rotate(180deg);
}

.prey {
  background-image: url('../images/duck.jpg');
}

.score {
  position: absolute;
  bottom: 0;
  right: 0;
  color: red;
  font-family: monospace;
  font-weight: bold;
}

#infoBox {
  position: absolute;
  top: 200px;
  left: 250px;
  color: lightGrey;
  font-size: -webkit-xxx-large;
  font-family: monospace;
  font-weight: bold;
}

#cell1-20 {
  border-radius: 4px 0 0 0;
}

#cell35-20 {
  border-radius: 0 4px 0 0;
}

#cell1-1 {
  border-radius: 0 0 0 4px;
}

#cell35-1 {
  border-radius: 0 0 4px 0;
}
